@import '../../styles/variables.module.scss';

form {
  display: flex;
  flex-direction: column;
  gap: $unit;
  max-width: 480px;
  @media (min-width: $xxl) {
    padding-bottom: calc(6 * #{$unit});
  }
}
