@import '../../styles/variables.module.scss';

.textarea {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  gap: calc(0.5 * #{$unit});
}
label {
  opacity: 0.7;
}
textarea {
  width: 100%;
  min-height: calc(6 * #{$unit});
  border-radius: calc(0.5 * #{$unit});
  padding: $unit;
  font-size: 1.125rem;
}
