@import '../../styles/variables.module.scss';

.logo {
  display: inline-flex;
}

.logo-isr {
  position: relative;
  z-index: 1100;
  &:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s ease-in-out;
  }
}

.imnot {
  img{
    max-height: calc(6 * #{$unit});
  }
}
