@import '../../styles/variables.module.scss';

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: $unit;
  grid-row-gap: $unit;
  padding: 0 $unit;
}

@media (min-width: md) {
  .cards {
    padding: calc(2 * #{$unit});
  }
}
