@import '../../styles/variables.module.scss';

.card {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: calc(0.5 * #{$unit});
  padding: calc(2 * #{$unit}) 0;
  border: 1px solid transparent;
  border-radius: calc(0.5 * #{$unit});
  height: 100%;
  .image-socket{
    height: 66.6666%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    img {
      width: calc(4 * #{$unit});
      height: calc(4 * #{$unit});
    }
  }
  img {
    width: calc(4 * #{$unit});
    height: calc(4 * #{$unit});
  }
  .paragraph-socket{
    height: 33.3333%;
    width: 100%;
    display: flex;
    justify-content: center;
    p{
      max-width: 12ch;
      text-align: center;
      line-height: 1.05;
    }
  }
  &:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s ease-in-out;
  }
}
