@import '../../styles/variables.module.scss';

.contact {
  position: relative;
  z-index: 10;
  width: 100%;
  overflow: hidden;
  display: flex;
  .paragraph {
    max-width: 40ch;
  }
  .container {
    position: relative;
    z-index: 15;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: calc(4 * #{$unit});
    padding: 0 $unit;
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: $md) {
    .container {
      padding: 0 0;
      max-width: 600px;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, auto);
    }
    .section-intro {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }
    form {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 2;
      grid-row-end: 3;
    }
    .contact-info {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 3;
      grid-row-end: 4;
    }
  }
  @media (min-width: $lg) {
    .container {
      max-width: 768px;
    }
    .section-intro {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }
    form {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 2;
      grid-row-end: 3;
    }
    .contact-info {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 3;
      grid-row-end: 4;
    }
  }
  @media (min-width: $xl) {
    .container {
      max-width: 992px;
    }
  }
  @media (min-width: $xxl) {
    .container {
      max-width: 1200px;
    }
  }
  .location-navigation,
  .social-media,
  .design-and-development {
    display: flex;
    flex-direction: column;
  }
  .contact-info {
    display: flex;
    flex-direction: column;
    gap: calc(2 * #{$unit});
    @media (min-width: $xl) {
      justify-content: space-between;
      flex-direction: row;
    }
    .location-navigation {
      gap: calc(2 * #{$unit});
      .address-navigation {
        display: flex;
        flex-direction: column;
        gap: calc(2 * #{$unit});
        @media (min-width: $md) {
          flex-direction: row;
        }
      }
      .address,
      .navigation {
        display: flex;
        flex-direction: column;
        gap: $unit;
        h3 {
          color: $secondaryColor;
        }
        p{
          white-space: nowrap;
        }
      }
      .navigation {
        .navigation-icons {
          display: flex;
          gap: calc(2 * #{$unit});
          transition: 0.3s ease-in-out;
          &:hover {
            cursor: pointer;
            opacity: 0.7;
          }
        }
      }
    }
    .social-media {
      gap: calc(2 * #{$unit});
      .social-media-icons {
        display: flex;
        gap: calc(2 * #{$unit});
        address {
          transition: 0.3s ease-in-out;
          &:hover {
            cursor: pointer;
            opacity: 0.7;
          }
        }
      }
    }
    .footer {
      display: flex;
      flex-direction: column;
      gap: calc(4 * #{$unit});
      .design-and-development {
        gap: $unit;
        display: inline-block;
        a{
          display: inline-flex;
          .imnot{
            img {
              transition: 0.3s ease-in-out;
              &:hover {
                cursor: pointer;
                opacity: 0.7;
              }
            }
          }
        }
      }
    }
  }
  .s-shape-down {
    position: absolute;
    z-index: 5;
    left: 0;
    bottom: 0;
    transform: translateY(50%) rotate(-45deg);
  }
}
