@import '../../styles/variables.module.scss';

.partners {
  position: relative;
  z-index: 10;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: calc(4 * #{$unit});
  padding-bottom: calc(8 * #{$unit});
  overflow-x: hidden;
  .paragraph {
    max-width: 40ch;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .slider-socket {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative;
    overflow-x: hidden;
    height: auto;
    .prev,
    .next {
      position: absolute;
      top: 0;
      bottom: 0;
      width: calc(4 * #{$unit});
      z-index: 100;
    }
    .prev {
      left: 0;
    }
    .next {
      right: 0;
    }
  }
  .section-intro {
    padding: 0 $unit;
    grid-column-start: 1;
    grid-column-end: 5;
  }
}

@media (min-width: $md) {
 .partners{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
   .section-intro{
      padding: 0;
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 2;
   }
   .slider-socket{
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 2;
      grid-row-end: 3;
   }
 }
}

@media (min-width: $lg) {
 .partners{
    max-width: 768px;
 }
}

@media (min-width: $xl) {
  .partners{
    max-width: 992px;
    .slider-socket{
      grid-column-start: 2;
      grid-column-end: 5;
      grid-row-start: 2;
      grid-row-end: 3;
    }
  }
}

@media (min-width: $xxl) {
  .partners{
    max-width: 1200px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    .section-intro{
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
    }
    .slider-socket{
      grid-column-start: 2;
      grid-column-end: 5;
      grid-row-start: 2;
      grid-row-end: 3;
    }
  }
}

[data-theme='light'] {
  .prev {
    background: linear-gradient(
      90deg,
      $backgroundLight 30%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .next {
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0%,
      $backgroundLight 70%
    );
  }
}

[data-theme='dark'] {
  .prev {
    background: linear-gradient(
      90deg,
      rgba(19, 15, 51, 1) 30%,
      rgba(0, 0, 0, 0) 100%
    );
    left: 0;
  }
  .next {
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(19, 15, 51, 1) 70%
    );
  }
}
