@import '../../styles/_variables.module.scss';

.section-intro {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: $unit;
  h1 {
    text-transform: capitalize;
  }
}

@media (min-width: md) {
  .section-intro {
    padding: calc(2 * #{$unit});
  }
}
