@import '../../styles/variables.module.scss';

.slider {
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  &::-webkit-scrollbar {
    width: calc(0.5 * #{$unit});
  }
  &::-webkit-scrollbar-thumb {
    border: 1px solid transparent;
    border-radius: calc(2 * #{$unit});
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.4);
  }
}

[data-theme='light'] {
  .slider{
    &::-webkit-scrollbar-track {
      background: rgba(255, 255, 255, 0.3);
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.05);
    }
  }
}

[data-theme='dark'] {
  .slider{
    &::-webkit-scrollbar-track {
      background: rgba(255, 255, 255, 0.03);
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.03);
    }
  }
}